.list-actions-button-payments {
    position: relative;
    margin: auto;
    padding: 0.5em;  
    border-radius: 25px;
    display: inline-block;
}

.list-actions-button-delete {
    cursor: pointer;
}

.list-actions-button-payments {
    background-color: #27ae60;
}