.table-list {
    border-collapse: collapse;
    color:#F6F6F6;
    width: 80%;
    margin-bottom: 1.5em;
}

.table-list,
.table-list th,
.table-list td {
    border: 1px solid #bdc3c7;
}

.table-list th,
.table-list td {
    padding: 0.5rem;
}

.table-list th,
.table-list tbody tr:nth-child(even) {
    background-color: #293846;
}

.list-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 1em;
}

.button-confirm,
.button-dismiss,
.button-edit,
.button-return {
    width: 75px;
    padding: 0.25rem 0.5rem;
}

.button-add-small,
.button-add,
.button-confirm,
.button-dismiss,
.button-edit,
.button-return {
    border: none;
    border-radius: 5px;
    color: #F6F6F6;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete{
    position: relative;
    margin: auto;
    padding: 0.5em;  
    border-radius: 50%;
    display: inline-block;
}

.list-actions img{
    height: 1.5em; 
    width: 1.5em;    
}

.list-actions-button-details,
.button-return {
    background-color: #2980b9;    
}
.list-actions-button-details:hover,
.button-return:hover {
    background-color: #3498db;
}

.list-actions-button-edit,
.button-edit  {
    background-color: #f39c12;
}

.list-actions-button-edit:hover,
.button-edit:hover {
    background-color: #f1c40f;
}

.list-actions-button-delete,
.button-dismiss {
    background-color: #c0392b;
}

.list-actions-button-delete:hover,
.button-dismiss:hover {
    background-color: #e74c3c;
}

.button-add {
    padding: 0.5rem 1rem;
}

.button-add-small {
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
}

.button-add,
.button-confirm,
.button-add-small {
    background-color: #27ae60;
}
.button-add:hover,
.button-confirm:hover,
.button-add-small:hover {
    background-color: #2ecc71;
}

.certificate-info {
    text-align: center;
}

.table-form {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
  }


@media all and (max-width: 720px) {
    .table-list {
        width: 100%;
    }
    .list-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5em;
        padding: 0;
        margin: 0;
    }
}

