@media all and (max-width: 400px) {
  .button-confirm,
  .button-dismiss {
    width: 30px !important;
  }

  table,
  thead,
  tbody {
    display: flex;
    flex-direction: column;
  }

  thead tr {
    display: none;
  }

  td {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
  }

  td.pl-PL:nth-of-type(1)::before {
    content: "Nazwa:";
    font-weight: bold;
    padding-right: 1em;
  }

  td.en-GB:nth-of-type(1)::before {
    content: "Name:";
    font-weight: bold;
    padding-right: 1em;
  }

  td.pl-PL:nth-of-type(2)::before {
    content: "Data rozpoczęcia:";
    font-weight: bold;
    padding-right: 1em;
  }

  td.en-GB:nth-of-type(2)::before {
    content: "Start date:";
    font-weight: bold;
    padding-right: 1em;
  }

  td:nth-of-type(3) {
    justify-content: center;
  }

  .list-actions {
    display: flex;
    flex-direction: row;
  }

  tbody tr {
    border-bottom: 3px #f6f6f6 solid;
  }

  .table-list {
    width: 100%;
  }
}
