a {
    color: #f6f6f6;
    text-decoration: none;
  }

  .table-form {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
  }
  
  .button-return {
    margin-left: 0.5rem; 
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
