<main>
    <h2 *ngIf="courses && courses.length > 0">{{formType == 1?('payment-page.form.add.title' | translate):('payment-page.form.edit.title' | translate)}} {{courses[0].client.firstName + ' ' + courses[0].client.lastName}}</h2>
        <form class="form" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id">

        <label for="course">{{'clientCourse.fields.course' | translate}}: <span class="symbol-required">*</span></label>
        <select name="idClientCourse" id="idClientCourse" formControlName="idClientCourse">
            <option value="">{{'clientCourse-page.form.select.course' | translate}}</option>
            <option *ngFor="let course of courses" value="{{course.id}}" label="{{course.course.name}}"></option>
        </select>
        <span id="errorCourse" class="errors-text" *ngIf="paymentForm.get('idClientCourse')?.invalid && paymentForm.get('idClientCourse')?.errors && (paymentForm.get('idClientCourse')?.dirty || paymentForm.get('idClientCourse')?.touched)">
            <div *ngIf="paymentForm.get('idClientCourse')?.hasError('required')">
                {{'payment-page.errors.course.required' | translate}}
            </div>
        </span>

        <label for="amount">{{ 'payment.fields.amount' | translate }}: <span class="symbol-required">*</span></label>
            <input type="text" name="amount" id="amount" formControlName="amount">
            <span id="errorAmount" class="errors-text" *ngIf="paymentForm.get('amount')?.invalid && paymentForm.get('amount')?.errors && (paymentForm.get('amount')?.dirty || paymentForm.get('amount')?.touched)">
                <div *ngIf="paymentForm.get('amount')?.hasError('required')">
                    {{'payment-page.errors.amount.required' | translate}}
                </div>
                <div *ngIf="paymentForm.get('amount')?.hasError('pattern')">
                    {{'payment-page.errors.amount.pattern' | translate}}
                </div>
            </span>

        <label for="date">{{'payment.fields.date' | translate}}: <span class="symbol-required">*</span></label>
        <input type="date" name="date" id="date" formControlName="date">
        <span id="errorDate" class="errors-text" *ngIf="paymentForm.get('date')?.invalid && paymentForm.get('date')?.errors && (paymentForm.get('date')?.dirty || paymentForm.get('date')?.touched)">
            <div *ngIf="paymentForm.get('date')?.hasError('required')">
                {{'payment-page.errors.date.required' | translate}}
            </div>
        </span>

        <label for="method">{{'payment.fields.method' | translate}}: <span class="symbol-required">*</span></label>
        <select name="idMethod" id="idStatus" formControlName="idMethod">
            <option value="">{{'payment-page.form.select.method' | translate}}</option>
            <option *ngFor="let method of paymentMethods" value="{{method.id}}" label="{{ ('payment.fields.paymentMethod.' + this.paymentMethodEnum[method.id]) | translate }}"></option>
        </select>
        <span id="errorMethod" class="errors-text" *ngIf="paymentForm.get('idMethod')?.invalid && paymentForm.get('idMethod')?.errors && (paymentForm.get('idMethod')?.dirty || paymentForm.get('idMethod')?.touched)">
            <div *ngIf="paymentForm.get('idMethod')?.hasError('required')">
                {{'payment-page.errors.method.required' | translate}}
            </div>
        </span>


            <label for="status" *ngIf="authGuard.isAdmin()">{{'payment.fields.status' | translate}}: <span class="symbol-required">*</span></label>
            <select name="idStatus" id="idStatus" formControlName="idStatus" *ngIf="authGuard.isAdmin()">
                <option value="">{{'payment-page.form.select.status' | translate}}</option>
                <option *ngFor="let status of paymentStatuses" value="{{status.id}}" label="{{ ('payment.fields.paymentStatus.' + this.paymentStatusEnum[status.id]) | translate }}"></option>
            </select>
            <span id="errorStatus" class="errors-text" *ngIf="paymentForm.get('idStatus')?.invalid && paymentForm.get('idStatus')?.errors && (paymentForm.get('idStatus')?.dirty || paymentForm.get('idStatus')?.touched)">
                <div *ngIf="paymentForm.get('idStatus')?.hasError('required')">
                    {{'payment-page.errors.status.required' | translate}}
                </div>
            </span>
        

        <div class="form-buttons">
            <button type="submit" class="form-button-submit" [ngClass]="{'valid-form': paymentForm.valid}" [disabled]="paymentForm.invalid">
                {{formType == 1?('form.actions.btnLabel.add' | translate) : ('form.actions.btnLabel.save' | translate)}}
            </button>
            <a routerLink="/clients/{{idClient}}/payments" class="form-button-cancel" *ngIf="idClient">{{'form.actions.cancel' | translate}}</a>
        </div>
 
        </form>
</main>
